<head>
    <link rel="stylesheet" href="styles/header.css">
</head>

<nav>
    <section class="nav-left">
        <img class="nav-img" src="img/navbar/menua.png" alt="Menú" id="menu-icon">
        <h3 id="nav-text" class="nav-text"></h3>
    </section>

    <section class="nav-right">
        <a href="pages/profila.html">
            <img class="nav-img" src="img/navbar/profila.png" alt="Profila">
        </a>
        <a class="nav-btn" id="logout-btn-index">Saioa itxi</a>
    </section>

    <section class="sidebar" id="sidebar">
        <header>
            <img src="img/navbar/biltegia.png" alt="">
            <h3>Biltegia</h3>
        </header>
        <ul>
            <li><a href="pages/ekipamenduak.html">Ekipamendua</a></li>
            <li><a href="pages/kategoriak.html">Kategoriak</a></li>
            <li><a href="pages/inbentarioak.html">Inbentarioa</a></li>
            <li><a href="pages/gelak.html">Gelak</a></li>
        </ul>
        <header>
            <img src="img/navbar/avatar.png" alt="Parametrizazioa">
            <h3>Parametrizazioa</h3>
        </header>
        <ul>
            <li><a href="pages/profila.html">Profila</a></li>
            <li><a href="pages/erabiltzaileak.html">Erabiltzaileak</a></li>
        </ul>
    </section>
</nav>