:root {
    --primary: #0077B6;
    --light: #CAF0F8;
    --hover: #F0F0F0;
    --danger: rgb(245, 74, 74);
    --white: #FFFFFF;
    --shadow: rgba(0, 0, 0, 0.1);
}

.taula {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.taula th, .taula td {
    padding: 10px;
    border: 1px solid var(--light);
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.taula th {
    background-color: var(--light);
    text-align: left;
    padding-left: 8px;
}

.tabla-wrapper {
    position: relative;
    width: fit-content;
    margin: auto;
}

.filtroBotoia {
    position: absolute;
    top: -55px;
    right: 15%;
    gap: 8px;
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 8px;
    background-color: var(--white);
    box-shadow: 0 2px 5px var(--shadow);
}

.kokalekuak-ikusi {
    position: absolute;
    top: -55px;
    left: 15%;
    display: flex;
    gap: 8px;
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 8px;
    background-color: var(--white);
    width: fit-content;
    box-shadow: 0 2px 5px var(--shadow);
}

.kokalekuak-ikusi:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.filtroBotoia:hover {
    background-color: var(--hover);
    border-radius: 5px;
    cursor: pointer;
}

.filter-icon {
    width: 25px;
    height: 25px;
}

#plus-icon {
    border-radius: 5px;
}

.kudeaketak-img {
    max-width: 20px;
    max-height: 20px;
}

.kudeaketak-btn {
    background-color: var(--white);
    border-radius: 5px;
    padding: 5px;
}

.kudeaketak-btn:hover  {
    background-color: var(--hover);
    cursor: pointer;
}

#editatu-btn {
    border-color: var(--primary);
}

#ezabatu-btn {
    border-color: var(--danger);
}

.taula td:last-child section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    width: 100%;
}

.taula th:last-child section {
    display: flex;
    justify-content: center;
    align-items: center;
}
