#botoi-atzera {
    width: 50px;
    height: 50px;
    border: 1px solid #0077B6;
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
    background-color: white;
}

#botoi-atzera:hover {
    background-color: #F0F0F0;
}