nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0077B6;
    padding: 10px 2%;
    padding-left: 0;
    position: relative; /* necesario para posicionar el menú móvil */
    z-index: 1000; /* más alto que cualquier otro elemento */
}

.nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.nav-img {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.nav-text {
    color: white;
    font-size: 1.2rem;
    margin-left: 10px;
}

/* Search wrapper */
.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.nav-search {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: auto;
    cursor: pointer;
}

.nav-btn {
    margin-left: 15px;
    padding: 5px 15px;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 100%; /* justo debajo del nav */
    left: 0;
    width: 20%;
    height: 1330%;
    flex-direction: column;
    background-color: #0077B6;
    z-index: 9999; /* se asegura de estar encima de todo */
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.mobile-menu.show {
    display: flex;
}

.mobile-menu a, .mobile-menu h3, .mobile-menu li {
    color: white;
    text-decoration: none;
    padding: 12px 13px;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.mobile-menu div {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    text-align: start;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.mobile-menu img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
}

#botoi-atzera {
    width: 50px;
    height: 50px;
    border: 1px solid #0077B6;
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
    background-color: white;
}

#botoi-atzera:hover {
    background-color: #F0F0F0;
}