.datuakInput, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #0077B6;
    font-size: 1rem;
}

.datuakInput:focus, select:focus {
    outline: none;
    border-color: #0096C7;
    box-shadow: 0 0 5px #0096C7;
}

#botoia {
    width: 100%;
    height: 20%;
    border: 1px solid;
    border-radius: 8px;
    background-color: #90E0EF;
}

.close-btn {
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.close:hover {
    opacity: 1;
}

dialog {
    color: #0077B6;
    border-radius: 8px;
    padding: 20px;
}

h4 {
    color: black;
}

#botoia {
    padding: 8px 12px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    max-height: 650px;
    padding: 30px;
    border: 2px solid #0077B6;
    border-radius: 10px;
    background-color: white;
}

.popupTaula {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 700px;
    max-height: 650px;
    padding: 30px;
    border: 2px solid #0077B6;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.kokalekuak-ikusi:hover, .filtroBotoia:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}